body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #954a4a;
  text-align: center;
}

.nav {
  background-color: rgb(164, 45, 12) ;
  color: rgb(206, 63, 23);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.site-title{
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav li.active{
  background-color: blanchedalmond;
}

.nav li:hover{
  background-color: beige;
}

nav a {
  color: rgb(23, 23, 23);
  text-decoration: none;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}